
@{
    ViewData["Title"] = "Index";
}

<h3>Sign Up</h3>
<form method="post">
        <div user=@User>
            <label>Login</label><br />
            <input type="text" name="login" /> <br /><br />
            <label>Password</label><br />
            <input type="password" name="password" /><br /><br />
        </div>
        <label>Confirm Password</label><br />
        <input type="password" name="passconf" /><br /><br />
        <input type="submit" asp-controller="Register" asp-action="Go" value="Sign Up" />
</form>
@if ((bool)ViewData["Mismatch"])
{
    await Html.PartialAsync("PasswordMismatch");
}

