@{
    ViewData["Title"] = "MailboxCreate";
}

<h3>Create your First Mailbox</h3>
<form method="post">
    <label>Mailbox name:</label><br />
    <input type="text" name="mailbox" /><text>@@gachimail.com</text><br /><br />
    <input type="hidden" name="user" value = @ViewData["User"] />
    <input type="submit" asp-controller="Register" asp-action="MBGo" value="Create" />
</form>
@await Html.PartialAsync("Error")


