
@{
    ViewData["Title"] = "Index";
}

<h3>Sign In</h3>
<form method="post">
    <div user = @User>
        <label>Login</label><br />
        <input type="text" name="login" /> <br /><br />
        <label>Password</label><br />
        <input type="password" name="password" /><br /><br />
    </div>
    <label>Remember me</label>
    <input type="checkbox" name="savecookies" />
    <input type="submit" asp-controller="Login" asp-action="Go" value="Sign in" />
</form>
